<h1> <%= t('welcome') %></h1>
<hr>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-6">
      <div class="graphic-wrap">
        <div id="sample-chart"></div>
      </div>
    </div>

    <div class="col-md-6">
      <h2> <%= t('next_events') %></h2>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('events') %></th>
            <th><%= t('date') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Bla bla bla</td>
            <td>Date</td>
          </tr>
          <tr>
            <td>Bla bla bla</td>
            <td>Date</td>
          </tr>
          <tr>
            <td>Bla bla bla</td>
            <td>Date</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>

